alembic==0.8.5
beautifulsoup4==4.4.1
flask>=1.0.0
Flask-Migrate==1.8.0
Flask-Script==2.0.5
Jinja2>=2.10.1
Mako==1.2.2
MarkupSafe==0.23
python-editor==0.5
requests>=2.20.0
werkzeug>=0.15.3
uWSGI>=2.0.17.1
